
private {{auxType}} {{auxField}} = null;
public @javax.annotation.Nullable {{auxType}} {{auxGetter}}() {
    if (this.{{auxField}} == null && {{parentGetter}}() != null && !{{parentGetter}}().getValue().equals("")) {
        this.{{auxField}} = new {{auxType}}({{parentGetter}}().getValue());
    }
    return this.{{auxField}};
}

public boolean {{auxHas}}() {
    return {{parentHas}}() && !{{parentGetter}}().getValue().equals("");
}
